html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#homepage {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(/images/d80546dd-a39a-47df-a61c-b67e0dc78ba3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-content: center;
}

.fixedtopcss {
    margin-top: 4rem;
}

.text {
    background: rgba(0,0,0,0.2);
    backdrop-filter: blur(4px);
}
