@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<form>
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6"></div>
    </div>
</form>
